
  <ion-content class="ion-padding" > Pokémons

    <!-- Tarjetas -->
    
    <ion-list id="listaPokemon">
      <ion-item *ngFor="let pokemon of pokemonApiResult?.results">
        <ion-label>{{ pokemon.name }}</ion-label>
        <ion-img *ngIf="pokemon.sprites?.other?.showdown?.front_default; else backupImage" [src]="pokemon.sprites?.other?.showdown?.front_default"></ion-img>
        <ng-template #backupImage>
          <ion-img class="missingNo" src="assets/missingno-pokemon.gif"></ion-img>
        </ng-template>
      </ion-item>
    </ion-list>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start" (click)="previousPage()">
      <ion-fab-button>
        <ion-icon name="chevron-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="nextPage()">
      <ion-fab-button>
        <ion-icon name="chevron-forward-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>