<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src="">
      </ion-avatar>
      <h2></h2>
      <p></p>
    </ion-item>
    <img src="">
    <ion-card-content>
      <p></p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div></div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div></div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
