<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-toggle aria-label="Primary toggle" color="primary">Recibir notificaciones de push</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle aria-label="Primary toggle" color="primary">Recibir emails</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle aria-label="Primary toggle" color="primary">Recibir mensajes de texto</ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="setOpen(true)">Guardar</ion-button>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Cambios guardados"
    [duration]="2000"
    (didDismiss)="setOpen(false)">
  </ion-toast>
</ion-content>
